$primary-color: #307cff;
$secondary-color: #30b3ff;
$tertiary-color: #ffa64d;

$gray-color: #aeaeae;
$shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$shadow-dark: 0 3px 14px rgb(0 0 0 / 40%);
$shadow-btn: -4px 0px 4px 2px rgba(204, 204, 204, 0.25);